.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(163, 247, 152) 0%,
    rgb(6, 14, 85) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

p {
  margin: 12px 0;
  margin-left: 5%;
  width: 90%;
  background: linear-gradient(
    /* 90deg, */
    rgb(228, 148, 95) 0%,
    rgb(105, 32, 13) 100%
  );
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #dcdcdd;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(252, 250, 250);
}

.todo-input::placeholder {
  color: #fffdfd;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(17, 3, 204) 0%,
    rgb(86, 120, 165) 100%
  );
  color: rgb(248, 247, 247);
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(17, 3, 204) 0%,
    rgb(86, 120, 165) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(15, 15, 15);
  background: linear-gradient(
    90deg,
    rgb(167, 61, 61) 0%,
    rgb(247, 90, 28) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(8, 44, 9) 0%,
    rgb(41, 99, 224) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(105, 27, 40) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgb(33, 23, 161) 100%
  );
}
.todo-row:nth-child(4n + 4) {
  background: linear-gradient(
    90deg,
    rgb(42, 248, 94) 0%,
    rgb(27, 37, 17) 100%
  );
}
.todo-row:nth-child(4n + 5) {
  background: linear-gradient(
    90deg,
    rgb(89, 144, 199) 0%,
    rgb(3, 3, 87) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}